@font-face {
    font-family: "PixelifySans";
    src: url(PixelifySans-VariableFont_wght.ttf)
}

body {
    margin: 0;
    background: #1e1e2e;
    color: white;
    font-family: "PixelifySans";
}

.header {
    height: 32px;

    background: #313244;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;

    -webkit-app-region: drag;
}

.container {
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    font-family: "PixelifySans";
}

#displayNote {
    height: 80px;

    background: #313244;

    border-radius: 12px;

    padding: 12px;

    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-family: "PixelifySans";
}

textarea {
    resize: none;

    height: 60px;

    border: none;
    outline: none;

    border-radius: 12px;

    padding: 10px;

    background: #45475a;
    color: white;

    -webkit-app-region: no-drag;

    font-family: "PixelifySans";
}

button {
    border: none;

    padding: 10px;

    border-radius: 12px;

    background: #f38bc8;

    color: white;

    cursor: pointer;

    -webkit-app-region: no-drag;

    font-family: "PixelifySans";


}

::placeholder {

    font-family: "PixelifySans";
}