@font-face {
    font-family: "PixelifySans";
    src: url(PixelifySans-VariableFont_wght.ttf)
}

body {
    margin: 0;
    background: #f38b8b;
    font-family: "PixelifySans";
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 12px;
    background: #b32d2d;
    text-align: center;
    font-size: 18px;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.input-area {
    display: flex;
    padding: 10px;
    gap: 8px;
}

input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    background: #b32d2d;
    color: white;
    font-family: "PixelifySans";
}

button {
    border: none;
    background: #f38b8b;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
}

::placeholder {
    color: white;
}